.box-big {
  height: 50vh;
  width: 50vh;
  background-color: red;
}

.box-medium {
  height: 25vh;
  width: 25vh;
  background-color: purple;
  position: relative;
  top: 12.5vh;
  left: 12.5vh;
}

.box-small {
  height: 12.5vh;
  width: 12.5vh;
  background-color: yellow;
  position: relative;
  left: 12.5vh;
  bottom: 12.5vh;
}

.box-big-1 {
  height: 50vh;
  width: 50vh;
  background-color: blue;
}

.box-medium-1 {
  height: 25vh;
  width: 25vh;
  background-color: green;
  position: relative;
  top: 12.5vh;
  left: 12.5vh;
}

.box-small-1 {
  height: 12.5vh;
  width: 12.5vh;
  background-color: black;
  position: absolute;
  bottom: 36.25vh;
}
